*{
    display: flex;
    flex-direction: row;

    gap: 20px;
    flex-wrap: wrap;
}


.square{
    background-color: pink;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px 0px gray;
}
.circle{
    background-color: orange;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px 0px gray;

    border-radius: 50%;
}
.rectangle{
    background-color: green;
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 3px 0px gray;
    
}
.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid blue;
    
}
section{
    width: 660px;
}

